<div class="container">
<div id="topRow" class="row">
  <div class="col-xs-2">
      <a href="https://omdb-search.herokuapp.com/"><p class="logo text-center pull-right"> OMDB</p></a>
        <a href="https://omdb-search.herokuapp.com/favorites"><p class="logo text-center pull-left favlink">Favorites </p></a>
  </div>
  <div id="topRow" class="col-xs-6">
    <p class="pageTitle other text-center pull-right">Favorite Movies</p>
  </div>
  <div class="col-xs-4">
    <form class="navbar-form navbar-right searchBar" method="GET" role="search" action="/search">
       <div class="form-group">
         <input type="text" class="form-control" name="q" placeholder="Search">
         <button type="submit" class="btn btn-default">Submit</button>
       </div>
     </form>
  </div>
</div>
<div id="midRow" class="row">
  <div class="col-xs-3">
    <button type="button" class="btn btn-success back pull-right" onclick="goBack()">Movie Info</button>
    <script>
    function goBack(){
      window.history.back();
    }
    </script>
  </div>
  <div class="col-xs-6">
    <% info.forEach(function(favorites){ %>

        <div class="movieItem favlist">
          <a href="http://www.imdb.com/title/<%= favorites.imdbid %>" >
          <% if(favorites.poster !== 'N/A'){ %>
            <img class="thumbnail pull-left" src="<%= favorites.poster %>">
          <% } else { %>
            <img src="http://i.imgur.com/8HYD6d8.png" class="thumbnail pull-left img-responsive">
            <% } %>
      <p class="text-right listItem fav"><%= favorites.title %></p>
      <br>
      <p class="text-right listItem fav"><%=favorites.year%></p></a>
      <button id="<%= favorites.id %>" type="submit" class="delete-button btn-lg btn-danger pull-right delete glyphicon glyphicon-remove"></button>
    </div>
    <% }); %>
  </div>
  <div class="col-xs-3">
  </div>
</div>
<div class="row">
  <div id="bottomRow" class="row">
    <footer class="text-center">API OMDB site created by Erin Moon &copy;2015</footer>
  </div>
  </div>
</div>
